@import "tailwindcss";



  .hide-scrollbar::-webkit-scrollbar {
    display: none;            /* Chrome, Safari */
  }

  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;
    
  }
  